/* Battery example from https://codepen.io/nonggolf/pen/gOOvEeK */

#vartaess-wrapper {
    font-size: var(--font-size);
    color: var(--color-text);
    font-weight: normal;
    line-height: 1.5;
    display: block;
    box-sizing: border-box !important;
    width: auto;
}

#battery-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    width: 85%;
    height: 60px;
    border: 4px solid;
    border-color: var(--color-text);
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#battery-wrapper::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 18px;
    background: var(--color-text);
    right: -9px;
    top: 50%;
    margin-top: -9px;
    border-radius: 2px;
}

#battery-state {
    content: "";
    position: relative;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: var(--color-text);
    height: 80%;
    width: 50%;
}

#table-wrapper {
    margin-top: 10px;
    width: 100%;
}

.battery-state-red {
  background: #E09690;
}

.battery-state-yellow {
  background: #FFE377;
}

.battery-state-green {
 background: #CDEE69;
}